.content{
  display: flex;
  height:100%;
  width:100%;
  background-color:whitesmoke;
  /*No margins*/
  margin:0;
}
.right{
  display: flex;
  flex-direction: column;
  /*Keep image width proportions*/
  /*Center it to the middle of the page*/
  z-index: 99;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white;
}
*{
  margin:0;
  padding:0;
  font-family: "JetBrains Mono", monospace;
}
.left{
  /*Make it so that the image takes up the whole div*/


  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
}
img{
  height:100vh;
  width:100vw;
  background-size: cover;
  background-position: center;
}